@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-font($size-small, $size-large) {
  font-size: $size-small;

  @media (min-width: 768px) {
    font-size: $size-large;
  }
}
